<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsf.webview">

    <application android:theme="@style/Theme.ModuleTest">
        <activity android:name=".FirstActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".SchemeFilterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.hsf.webview"
                    android:scheme="arouter" />
            </intent-filter>
        </activity>
    </application>

</manifest>